@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Special+Elite&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu {
    display: inline-block;
    width: 100%;
    text-align: right;
}
    
.menu li {
    display: inline-block;
    font-family: Special Elite;
    font-size: 2rem;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    
}
.coffeeshop {
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    }
.coffeeshop img {
    padding-top: 50rem;
   
}
/* ------header fertig-------- */
.beans {
    display: inline-block;
    background-image: url(../img/beans_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.beans h1 {
    font-family: sans-serif;
    font-size: 7rem;
    padding-top: 10rem;
    padding-left: 6rem;
}
.beans p {
    font-family: Special Elite;
    font-size: 3rem;
    padding-top: 3rem;
    padding-left: 6rem;
}
.backgroundflowersandice {
    background-image: url(../img/bridge_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}
.backgroundflowersandice h2 {
    visibility: hidden;
}
/* -------Abschnitt 1 section + fixed background fertig----- */