@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Special+Elite&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu {
    display: inline-block;
    width: 100%;
    text-align: right;
}
    
.menu li {
    display: inline-block;
    font-family: Special Elite;
    font-size: 2rem;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    
}
.coffeeshop {
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    }
.coffeeshop img {
    padding-top: 50rem;
   
}
/* ------header fertig-------- */
.beans {
    display: inline-block;
    background-image: url(../img/beans_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.beans h1 {
    font-family: sans-serif;
    font-size: 7rem;
    padding-top: 10rem;
    padding-left: 6rem;
}
.beans p {
    font-family: Special Elite;
    font-size: 3rem;
    padding-top: 3rem;
    padding-left: 6rem;
}
.backgroundflowersandice {
    background-image: url(../img/bridge_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}
.backgroundflowersandice h2 {
    visibility: hidden;
}
/* -------Abschnitt 1 section + fixed background fertig----- */
.ourmenu {
background-image: url(../img/cake_icon.png);
display: inline-block;
background-size: cover;
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
}
#our {
    font-family: sans-serif;
    font-size: 6rem;
    text-align: center;
    padding-top: 4rem;

}
#toast {
    margin-top: 2rem;
   margin-left: 77rem;
}
.ourmenu h2:nth-of-type(2) {
    font-family: Exo;
    text-align: center;
}
.ourmenu h2:last-of-type {
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}
.bottomless {
    font-family: Special Elite;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    width: 40rem;
    height: 6,5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 60rem;
    margin-top: 2rem;

}
.bottomless h3 {
    padding-bottom: 1rem;
}
.cafe {
    font-family: Special Elite;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    width: 40rem;
    height: 6,5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 60rem;
    margin-top: 1rem;
}
.french {
    font-family: Special Elite;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    width: 40rem;
    height: 6,5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 60rem;
    margin-top: 2rem;
}
.chemex {
    font-family: Special Elite;
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
    width: 40rem;
    height: 6,5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 60rem;
    margin-top: 1rem;
}
.backgroundiceanddeko {
    background-image: url(../img/bridge_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}
.backgroundiceanddeko h2 {
    visibility: hidden;
}
/* -----Abschnitt 2 + fixed background fertig-------- */
.story {
    display:inline-block;
   
}

.story h2 {
    font-family: sans-serif;
    font-size: 4rem;
    margin-top: 8rem;
    margin-left: 40rem;
    
}
.story p {
    display: inline-block;
    width: 30rem;
    font-family: Special Elite;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 40rem;
    margin-bottom: 18rem;
}
.story img {
    margin-left: 10rem;
}
.cakeandcoffee {
    background-image: url(../img/bridge_3.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 50vh;

}
.cakeandcoffee h2 {
    visibility: hidden;
}
/* -----our Story fertig + fixed backgorund----- */
.catering {
    display: inline-block;
    background-image: url(../img/pie_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.catering img {
    margin-left: 15rem;
  
}
.cateringh2p {
    display: inline-block;
    width: 40rem;
    margin-top: 30rem;
    margin-left: 10rem;
     }
     .cateringh2p h2 {
         font-family: sans-serif;
         font-size: 3rem;
     }
     .cateringh2p p {
        font-family: Special Elite;
        font-size: 2rem;
        padding-top: 2rem;
     }
     .button {
        font-family: Special Elite;
        background-color: #fff;
        padding: 10px 15px;
        color: #000;
        margin-top: 1rem;
     }
     .brackfast {
         background-image: url(../img/bridge_4.jpeg);
         background-attachment: fixed;
         background-size: cover;
         width: 100vw;
         height: 50vh;

     }
     .brackfast h2 {
         visibility: hidden;
     }
     /* ------Catering + fixed background fertig------ */